@import '../../scssStyles/variables';
.notifications {
  &__inner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $success;
    position: relative;
    cursor: pointer;
  }
  &__user-status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(176, 37, 37);
    position: absolute;
    right: 0;
    top: 0;
    &--online {
      background-color: green;
    }
  }

  &__widget-count {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $danger;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $success;
    font-weight: 700;
    &__count {
    }
  }
  &__list {
    width: 300px;
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 2;
    padding: 0;
    background-color: #f5f5f5;
    list-style: none;
    display: none;
    &--active {
      display: block;
    }
    &-item {
      &--add {
        background-color: $success;
      }
      &--edit {
        background-color: yellow;
      }
    }
  }
}
p {
  margin: 0;
}
