@import '../../../scssStyles/variables';

.checkbox {
  display: block;
  position: relative;
  flex-shrink: 0;
  height: 40px;
  width: 40px;
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &--hide {
    visibility: hidden;
  }

  @media screen and (max-width: $md) {
    width: 30px;
    height: 30px;
  }
  &__input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }

  &__indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    cursor: pointer;
    @media screen and (max-width: $md) {
      width: 30px;
      height: 30px;
    }
  }
}

.checkbox__input:checked ~ .checkbox__indicator {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
