@import '../../scssStyles/variables';
.container {
  position: relative;
}

.notifications {
  &__list {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &--add {
        background-color: $success;
      }
      &--edit {
        background-color: yellow;
      }
      &--delete {
        background-color: tomato;
      }
      &--deleting {
        animation: deleteAnimation 0.2s forwards;
      }
    }
  }

  &__animation {
  }
}

@keyframes deleteAnimation {
  0% {
    opacity: 1;
  }

  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
